.dialogStyles {
  display: grid;
  grid-template-columns: 1fr 1fr 30px;
  grid-template-rows: ;
  grid-column-gap: 10px;
  grid-row-gap: 0px;
  border-radius: 10px;
  isolation: isolate;
  background-color: goldenrod;
  animation: popUP 600ms ease-out;
}

@keyframes popUP {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.dialog_project {
  grid-area: 1 / 1 / 2 / 2;
}

.dialog_project_grid {
  grid-area: 1 / 1 / 2 / 2;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.dialog_project_content {
  grid-area: 1 / 2 / 2 / 3;
}

.dialog_exit {
  grid-area: 1 / 3 / 2 / 4;
  justify-self: flex-end;
  cursor: pointer;
}

#background_color {
  background-image: radial-gradient(
    circle at 9.44% -7.92%,
    #dfe4d0 0,
    #dbe4d1 3.33%,
    #d8e5d3 6.67%,
    #d5e6d5 10%,
    #d3e6d7 13.33%,
    #d0e7da 16.67%,
    #cee7dd 20%,
    #cce7df 23.33%,
    #cbe7e2 26.67%,
    #c9e7e5 30%,
    #c9e7e7 33.33%,
    #c9e7ea 36.67%,
    #c9e7ec 40%,
    #cae6ef 43.33%,
    #cbe6f0 46.67%,
    #cde5f2 50%,
    #cfe4f3 53.33%,
    #d2e4f4 56.67%,
    #d5e3f5 60%,
    #d8e2f5 63.33%,
    #dbe1f5 66.67%,
    #dee0f4 70%,
    #e2dff3 73.33%,
    #e5def2 76.67%,
    #e8ddf0 80%,
    #ebddee 83.33%,
    #eedcec 86.67%,
    #f0dcea 90%,
    #f2dbe7 93.33%,
    #f4dbe4 96.67%,
    #f5dbe2 100%
  );
}
